.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar {
  margin-right: 15px;
}
.name {
  padding: 15px;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  color: black;
}

.button {
  padding: 10px;
  max-width: 250px;
  align-self: center;
  border: none;
  margin-left: 20px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: #061e8a;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #051661;
}
